a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

body{
    margin: 0;
    /* background-color:rgb(236, 85, 160); */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imej/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* untuk edit butang */
button{
  background-color:black;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  color:white;
  padding: 10px;
  width:auto;
  height:auto;
  cursor: pointer;
}
button:hover{
  background-color: rgb(255, 0, 0);
  border: 3px solid rgb(231, 153, 153);
  /* font-weight: bold; */
}

.div0{
  text-align: center;
}

.div1{
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  border-top: 3px solid rebeccapurple;
}

.img0{
  width:100%;
}

input{
  padding: 5px;
  width: 200px;
}

.table0{
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
}
.table1{
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  height: 30px;
}

td{
  padding-left: 10px;
  padding-right: 10px;
}

.topnav {
  overflow: hidden;
  background-color:rgb(71, 214, 126);
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: rgb(77, 48, 218);
  color: black;
}

.topnav a.active {
  background-color: rgb(208, 220, 40);
  color: black;
}

.welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  background-color: red;
}


